<mat-card class="big-sensor-tile">
    <mat-card-header>
        <mat-icon mat-card-avatar>thermostat</mat-icon>
        <mat-card-title>{{ sensor }}</mat-card-title>
    </mat-card-header>
    <iot-line-chart
        [labels]="sensorDataLabels"
        [data]="sensorDataValues"
        [stepped]="sensor === 'moveSensor'"
        [label]="sensor"
        mat-card-image
    ></iot-line-chart>
    <!-- <mat-card-actions>
        <button mat-button>Manage</button>
        <button mat-button>Refresh</button>
    </mat-card-actions> -->
</mat-card>
