<mat-tab-group mat-align-tabs="center">
    <mat-tab label="Salon">
        <ng-template matTabContent>
            <div class="mat-tab-custom-content">
                <iot-big-sensor-tile></iot-big-sensor-tile>
                <iot-big-sensor-tile></iot-big-sensor-tile>
                <iot-big-sensor-tile></iot-big-sensor-tile>
                <iot-big-sensor-tile></iot-big-sensor-tile>
            </div>
        </ng-template>
    </mat-tab>
    <mat-tab label="Łazienka">Content 2</mat-tab>
    <mat-tab label="Sypialnia">Content 3</mat-tab>
</mat-tab-group>
